.App {
  font-family: "Rubik", arial, sans-serif;
}
.logOut {
  padding: 10px 10px;
  width: 100%;
  background-color: red;
  border-radius: 0.25rem;
  border-color: transparent;
  height: 39.2px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}
.logOut:hover {
  background-color: transparent;
  border-color: #0d0d0d;
  color: #0d0d0d;
}
