@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", arial, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container2 {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.container2.active {
  transform: translateY(0);
  opacity: 1;
}
@keyframes slideUp {
  0%,
  50% {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }

  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.userImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
