#header {
  background-color: #ffffff;
  padding: 30px;
  .header-down-none {
    display: none;
  }
  .header-down {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .loginAndRegister {
      display: flex;
      font-size: 16px;
      font-family: "Rubik", arial, sans-serif;
      a {
        text-decoration: none;
        color: #0b88ad;
      }
    }
    nav {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      font-family: "Rubik", arial, sans-serif;
      row-gap: 20px;
      a {
        text-decoration: none;
        color: black;
      }
      .ant-space {
        padding: 0;
        margin: 0;
        height: 19.2px;
        display: flex;

        font-family: "Rubik", arial, sans-serif;
        font-size: 16px;
        .ant-space-item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 3px;
          }
        }
      }
    }
  }
  .header-down:target {
    line-height: 1.5;
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .fa-bars {
      display: none;
    }
    .loginAndRegister {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-family: "Rubik", arial, sans-serif;
      a {
        text-decoration: none;
        color: #0b88ad;
      }
    }
    .university {
      text-decoration: none;
      color: black;
      font-family: "Rubik", sans-serif;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.2em;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Rubik", arial, sans-serif;
      column-gap: 20px;
      a {
        text-decoration: none;
        color: black;
      }
      .ant-space {
        padding: 0;
        margin: 0;
        height: 19.2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Rubik", arial, sans-serif;
        font-size: 16px;
        .ant-space-item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 3px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  #header {
    .header {
      justify-content: space-between;
      .fa-bars {
        display: block;
        color: #808080;
        border: 1px solid #cccccc;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0.25rem;
      }
      nav,
      .loginAndRegister {
        display: none;
      }
    }
  }
}
